// @import compass/reset
@import compass/utilities
@import compass/css3
@import compass/css3/opacity
@import compass/css3/images
@import compass/css3/transition

=font-cursive
  font: 24px Loved by the King

=font-sans
  font-family: Quattrocento Sans
  // font-weight: bolder

$box-ratio: 1.62
$pink: #ff69b4
$light-yellow: #ffc

$spacing: 20px
$radius: 5px

$header-height: 44px

$feature-width: 800px
$feature-height: 500px

$gallery-width: $feature-width - $radius*2
$gallery-height: $feature-height - $radius*2

$logo-width: 120px

$left-offset: 200px + $spacing

$title-width: 120px + $spacing

$header-width: $feature-width - $logo-width/3

$logo-z-index: 2
$content-z-index: 1

$only-phones: "only screen and (min-device-width : 320px) and (max-device-width : 480px)"

strong, em
  font-weight: bold
  // font: auto

[id$="page"]
  position: relative
  z-index: 1
  display: none
  margin-top: 50px
  margin-bottom: 50px
  &.showing
    display: block

[class^="container"] > [class^="span"],
[class^="container"] > [class^="row"] > [class^="span"]
  padding: $spacing
  +border-radius($radius)
  +single-box-shadow(rgba(0, 0, 0, 0.5), 5px, 5px, 5px)
  background-color: white

// $footer-w: $gridColumnWidth * $gridColumns
$footer-w: 250px
footer
  position: fixed
  width: $footer-w
  right: $spacing
  bottom: $spacing
  z-index: 0
  margin: 0 auto
  text-align: center
  .boo
    display: none
  p
    font-size: 75%
    line-height: 75%
    color: rgba(black, 0.5)


@media #{$only-phones} 
  footer
    position: relative !important
    .boo
      display: block


// img[src*="/images/helcross"]
//   height: 150px !important
//   width: auto

.thumbnail
  border: none
  img
    margin-bottom: 1em

#shopping-cart-bar
  cursor: pointer
  display: none
  float: right
  padding-top: 9px
  margin-bottom: 0px !important
  padding-bottom: 5px
  .icon-shopping-cart
    vertical-align: baseline
  li
    display: inline
  &.visible
    display: block

.tooltip
  font-size: 75%
  line-height: 1em

$store-item-w: 260px
$store-item-h: 180px
.store-row
  margin-top: 3em

.store-item
  color: gray
  width: $store-item-w
  height: auto
  .controls
    width: 100%
    margin-left: 0px
  .img-wrapper
    height: $store-item-h
    width: $store-item-w
    overflow: hidden
    img
      width: inherit
      height: auto
      margin-bottom: 0.5em
  .on-hover
    cursor: pointer
    display: block
    position: absolute
    z-index: 1
    width:  inherit
    height: $store-item-h
    background-color: rgba(black, 0)
    .text-wrapper
      display: none
  .on-hover.hovering
    background-color: rgba(black, 0.5)
    .text-wrapper
      text-align: center
      display: block
      margin-top: 3em
      line-height: 2em
      font-weight: bold
      color: white


a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:active
    outline: none

textarea
  resize: none
input
  width: auto

.form-carefree
  input, textarea
    +border-radius($radius)
    +font-cursive
    margin-top: 0.5em
    margin-bottom: 0.5em
    width: 100%
    line-height: 1.5em
    font-size: 2em
    font-weight: bold
    background-color: $light-yellow

  input[type="submit"], .btn
    +border-radius($radius)
    // width: auto
    // margin-top: 0.5em
    // margin-bottom: 0.5em
    line-height: 2em
    font-size: 3em
    height: 2em
    font-weight: bold

  input
    height: 1.5em

textarea.form-carefree
  line-height: 1.5em
  font-size: 2em

.hero-unit
  background-color: $light-yellow


$home-page-min-h: 350px 
$home-page-h: $home-page-min-h - 100px
$home-page-w: 100%
#home-page
  min-height: $home-page-min-h
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  .front-card
    position: absolute
    top: 50%
    left: 50%
    width: $home-page-w
    height: $home-page-h
    margin-top: -$home-page-h/2
    margin-left: -$home-page-w/2
    text-align: center
    & > *
      vertical-align: middle
      display: inline-block
    .huge-word
      font-size: 6em
      color: gray
    .huge-symbol
      font-size: 8em
      margin-top: -25px
      color: gray
    .ldquo, .rdquo
      font-size: 6em
      color: gray
    #home-logo
      height: 125px
      width: auto

@media #{$only-phones}
  #home-page
    position: relative !important
    .front-card
      position: relative !important

  

#home-operand-container
  $size: 275px
  $hidden-margin: 22px
  height: $size
  width: $size
  max-height: $size
  max-width: $size
  overflow: hidden
  padding: $spacing
  .inner
    position: relative
    top: -$hidden-margin
    left: -$hidden-margin
    height: $size+$hidden-margin
    width: $size+$hidden-margin
  p
    text-align: center
    font-size: 1.5em
    color: rgba(black, 0.5)
    line-height: 66%

$about-carousel-h: 400px
$about-carousel-w: 400px
#about-carousel-placeholer
  width: $about-carousel-w
  height: $about-carousel-h
  margin-right: 20px

#about-carousel
  +single-transition
  width: $about-carousel-w
  height: $about-carousel-h
  float: left
  padding: $spacing
  .carousel
    width: inherit
    height: inherit
    background-color: grey
    .carousel-inner 
      overflow: hidden
      width: inherit
      height: inherit
      .item
        height: inherit
        width: inherit
        img
          position: relative
          margin: 0 auto
          max-height: inherit
          height: auto
          width: 100% !important
      // line-height: 1em !important
      

// #about-carousel.expanding
//   position: relative

// #about-carousel.expanded
//   position: relative !important
//   margin: 0
//   .carousel-caption, .carousel-control
//     display: block
  // margin-left: -420px
  // left: 50%

#forum-page
  margin-top: 48px

body
  +font-sans
  p
    +font-sans
  color: #0d0d0d
  .brand
    +font-cursive
    font-size: 1.2em !important
    line-height: 1em
    z-index: $logo-z-index

// .navbar
//   padding-bottom: 0px !important

// .brand, ul.nav li a
//   padding-top: 5px


.button:link, .button:visited 
  +border-radius($radius)
  +background-image(linear-gradient(top, #97afe2, #6073a1))
  +box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.5))
  +font-sans
  +text-shadow(0, 1px, 1px, rgba(255, 255, 255, .2))
  background-color: #7a90c0
  border: none
  color: #1d222c
  display: inline-block
  font-size: 16px
  vertical-align: top
  line-height: 28px
  padding: 0 25px
  text-decoration: none


  

