@import compass/reset
@import compass/utilities
@import compass/css3
@import compass/css3/opacity
@import compass/css3/images

=font-cursive
  font: 24px Loved by the King

=font-sans
  font-family: Quattrocento Sans
  font-weight: bolder

$pink: #ff69b4

$spacing: 20px
$radius: 14px
$border: 1px solid $pink

$header-height: 44px

$feature-width: 800px
$feature-height: 500px

$gallery-width: $feature-width - $radius*2
$gallery-height: $feature-height - $radius*2

$logo-width: 120px

$left-offset: 200px + $spacing

$title-width: 120px + $spacing

$header-width: $feature-width - $logo-width

$logo-z-index: 2
$content-z-index: 1

$caption-height: 40px

$blog-heading-margin-top: 28px

a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus
  &:active
    outline: none
  &:visited

body
  +font-sans
  font-size: 14px
  background: $pink
  color: #0d0d0d
  img#helcross
    width: $logo-width
    height: auto
    z-index: $logo-z-index
    position: absolute  
    left: $left-offset - $logo-width/2
    top: 0px
    cursor: pointer
  #helcross-v-spacer
    width: 100%
    height: $logo-width * 0.66 - $blog-heading-margin-top
  .feature-heading
    +font-sans
    position: absolute 
    left: $left-offset + $logo-width + $spacing
    top: 20px
    font-size: 40px
    line-height: 80px
    width: $title-width
  h1
    +font-cursive 
    font-weight: bold
    font-size: 28px
    // line-height: 300%
    margin-top: $blog-heading-margin-top
  .blog
    // position: absolute
    width: $feature-width * 0.75 
    // right: 0px
    margin: 0 auto
  .forum
    .image
      img
        max-width: 200px
        height: auto
    .post
      margin-bottom: 1em
  header
    position: absolute
    top: $header-height - 35px
    left: $left-offset + $logo-width
    height: 35px
    width: $header-width
    // background: #e7e7e7
    // border: 1px solid #ccc
    ul
      display: inline 
      li
        display: inline 
        line-height: 30px
        padding: 0 20px
        a
          +font-cursive
          color: #000 !important
          text-decoration: none
          &:hover
            +single-text-shadow(white, 2px, 2px, 1px)
          // text-decoration: underline
  #content
    +border-bottom-left-radius($radius)
    +border-top-right-radius($radius)
    background-color: white
    z-index: $content-z-index
    position: absolute
    left: $left-offset
    top: $header-height
    width: $feature-width
    // height: $feature-height 
    height: auto
    line-height: 150%
    .feature
      +border-bottom-left-radius($radius)
      +border-top-right-radius($radius)
      display: none
    .feature.showing
      height: auto
      // height: $feature-height
      display: block
  .gallery
    .image-container
      margin: $radius
      width: $gallery-width
      height: $gallery-height
      background-color: gray
      overflow: hidden
      .left-button, .right-button
        height: $gallery-height 
        z-index: $logo-z-index
        cursor: pointer
        position: absolute
        width: 60px
        background-color: rgba(255, 255, 255, 0)
        &:hover
          background-color: rgba(255, 255, 255, 0.25)
      .left-button
        left: 0px
      .right-button
        right: 0px
      .image
        display: none
      .image.showing
        display: block
        position: relative
        text-align: center
        img
          height: $gallery-height
          width: auto
        .caption
          +opacity(0.75)  
          +font-cursive
          background-color: white
          margin: 0 auto
          margin-top: -$caption-height * 1.15
          height: $caption-height * 1.15
          line-height: $caption-height
          width: 300px
          padding-top: 0
          border-top: 0
          font-weight: bold
    .blog
      display: none
    .blog.showing
      display: block


#notifications
  +border-bottom-right-radius($radius)
  +border-top-left-radius($radius)
  position: fixed
  right: $spacing*2
  bottom: $spacing
  background-color: black
  height: 150px
  width: 150px
  h1
    display: none
    color: white
    font-size: 50px
    padding: 0
    border: 0
    margin: 0
    margin-top: 88px
    margin-left: -2px
  h1.showing
    display: block

#auth-status
  margin: 0 !important
  display: inline !important
  width: auto !important
  float: right !important
  +font-cursive

#like-button
  position: absolute
  // top: $spacing
  // right: $spacing*2
  border: none
  width: 450px
  height: $header-height
  float: right

.if-logged-in.showing, .if-logged-out.showing
  display: inline !important

.if-logged-in, .if-logged-out
  display: none !important


.button:link, .button:visited 
  +border-radius($radius)
  +background-image(linear-gradient(top, #97afe2, #6073a1))
  +box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.5))
  +font-sans
  +text-shadow(0, 1px, 1px, rgba(255, 255, 255, .2))
  background-color: #7a90c0
  border: none
  color: #1d222c
  display: inline-block
  font-size: 14px
  vertical-align: top
  line-height: 28px
  padding: 0 25px
  text-decoration: none
