#auth-status
  %span.if-logged-in
    Hi, 
    %span#auth-displayname 
    !

  %span#auth-loggedout.if-logged-out
    %a#auth-loginlink.btn(href="#") Login
  %span#auth-loggedin.if-logged-in
    %a#auth-logoutlink.btn(href="#") Logout
