-# The elements that make up a gallery must be inside their own container element
.left-button
.right-button
%div 
  .image.showing 
    %img{:src=>"/content/images/hel_plus_congress.jpg", :alt=>"Helen + Congress"}
    .caption Helen + Congress
  .image
    %img{:src=>"/content/images/me.jpg"}
    .caption Me!
  .image
    %img{:src=>"/content/images/three_boards.jpg"}
    .caption Paddle Out!
