%ul.nav_main
  %li
    %a(onclick="showPage('home');" href="#") Home
  %li
    %a(onclick="showPage('about');" href="#") About
  %li
    -# %a(onclick="showPage('cross-surf');" href="#") +Surf
  %li
    %a(onclick="showPage('cross-store');" href="#") +Store
  %li
    %a.if-logged-in(onclick="showPage('cross-you');" href="#") +You


