
%ul.nav_main
  -# %li
    %a(onclick="showPage('home');" href="#") Home
  %li
    %a(onclick="showPage('about');" href="#") About
  %li
    -# %a(onclick="showPage('cross-surf');" href="#") +Surf
  %li
    %a(onclick="showPage('cross-store');" href="#") +Store
  %li
    %a.if-logged-in(onclick="showPage('cross-you');" href="#") +You

%iframe(src="https://www.facebook.com/plugins/like.php?href=https://helcross.com" scrolling="no" frameborder="0" style="border:none; width:450px; height:80px")
-# %a#add-page-tab.if-logged-in(href="#") +Tab

