%ul.nav_main
  %li
    %a{:onclick => "show('#gallery', '.feature');", :href=>"#"} Home
  %li
    %a{:onclick => "show('#about', '.feature');", :href=>"#"} About
  %li 
    -# %a{:href => "/forums"} +You

  %a(href='/auth/facebook' class="fb_button fb_button_medium")
    %span(class="fb_button_text") Log In

  %li
    %a{:href => "/store"} +Store
  %li
    %a{:href => "/surf"} +Surf


