%ul.nav_main
  %li
    %a(onclick="showPage('home');" href="#") Home
  %li
    %a(onclick="showPage('about');" href="#") About
  %li
    %a(onclick="showPage('store');" href="#") +Store
  %li
    %a(onclick="showPage('surf');" href="#") +Surf
  = partial :fb_login

