#forum-page.container-fluid
  .row-fluid
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header Trending Posts
          %li 
            %a(href="#") post 1
          %li 
            %a(href="#") post 1
          %li 
            %a(href="#") post 1
          %li 
            %a(href="#") post 1
          %li 
            %a(href="#") post 1
        
    .span9
      .forum
        %h1 Welcome to the forum!
        .posts-container


%script#forum-post-template(type="text/x-handlebars-template")
  {{#post data}}
  .post-inner
    {{#primary-actor from}}{{/primary-actor}}
    .message-container
      {{message}} 
    {{#if-video type}}
    .video-container
      .icon-container
        %img(src="{{icon}}")
      .video-preview
        %img(src="{{picture}}")
        %a(href="{{link}}") {{caption}}
      %iframe.video(width="560" height="315" src="http://www.youtube.com/embed/{{video_oid}}?rel=0" frameborder="0" allowfullscreen)
      .meta-container
        .post-name-container
          {{name}}
        .description-container
          {{description}}
    {{/if-video}}
  -# .subposts-container
  -#   {{#subpost comments.data}} 
  -#   .comment-container
  -#     .from-container
  -#       {{#reactor from}}{{/reactor}}
  -#     .message-container
  -#       {{message}}
  -#     {{#likes likes}}{{/likes}}
  -#   {{/subpost}}
  {{/post}}


%script#forum-acticle-post-template(type="text/x-handlebars-template")
  .image-container
    %a(href="{{link}}")
      %img(src="{{picture}}")

%script#forum-post-comment-template(type="text/x-handlebars-template")
