#home-page.front-container
  .visible-phone
    Welcome to the mobile version Hel+!
  .front-card
    -# .span6.columns
    %span.huge-word.hidden-phone
      politics
    %span.huge-symbol.hidden-phone
      +
    %span.ldquo.hidden-phone
      &ldquo;
    #home-operand-container
      .inner
        = content "inspirational-words"
    %span.rdquo.hidden-phone
      &rdquo;
    %span.huge-symbol.hidden-phone
      \=
    %img#home-logo.hidden-phone(src="/images/helcross.png")

#about-page.container
  .span9
    .row-fluid
      = content "about"

-# %script
  showPage("home");
