#home.feature
  = partial :gallery

- Dir.foreach("./public/content/words/") do |entry|
  - if entry != ".." and entry != "."
    - page = entry.chomp(".md.txt")
    .feature{:id=>page.downcase}
      .blog
        = content :"words/#{page}"

#cross-you.feature
  .blog
    <h1>Coming Soon</h1>
    <h1>A place to find engaging conversations on politics, faith, art, Dr. Who, etc. All the important stuff in life</h1>
    <h1>But for now we just have the <a href="https://www.facebook.com/groups/Helt55/">facebook forum</a>, and the below preview of recent posts:</h1>
  .forum

#notifications
  %h1#h1-home Home
  %h1#h1-cross-you +You
  - Dir.foreach("./public/content/words/") do |entry|
    - if entry != ".." and entry != "."
      - page = entry.chomp(".md.txt")
      %h1{:id=>"h1-"+page.downcase}=crossify(page)


#post-template(style="display:none")
  {{#data}}
  .post.span-18
    .row
      %h1.prepend-2 {{name}}
      {{#picture}}
      %a.span-4.prepend-2.image(href='#')
        %img(src='{{picture}}')
      .span-13.last
        {{#from}}
        %h2 {{from.name}}
        {{/from}}
        {{description}}
      {{/picture}}
  {{/data}}

-# {{^picture}}
-#   .span-17.last
-#     {{#from}}
-#     %h2 {{from.name}}
-#     {{/from}}
-#     {{description}}
-#   {{/picture}}
