#home-page.front-container
  .front-card
    -# .span6.columns
    %span.huge-word.hidden-phone
      politics
    %span.huge-symbol
      +
    #home-carousel-placeholer
    %span.huge-symbol.hidden-phone
      \=
    %img.hidden-phone(src="/images/helcross.png")

#about-page.container
  .span9
    .row-fluid
      = content "about"

-# %script
  showPage("home");
