#home-page.front-container
  .front-card
    -# .span6.columns
    %span.huge-word.hidden-phone
      politics
    %span.huge-symbol.hidden-phone
      +
    #home-carousel-placeholer
      #home-carousel
        .carousel.slide
          .carousel-inner
            = each_content_item "home-carousel-images" do |i|
              .item
                %img{:src=>s3_link("/images/#{i}")}
                .carousel-caption
                  - name = i.rpartition(".")[0]
                  = content "#{name}"
          .left.carousel-control(href="#home-carousel" data-slide="prev") &lsaquo;
          .right.carousel-control(href="#home-carousel" data-slide="next") &rsaquo;
    %span.huge-symbol.hidden-phone
      \=
    %img(src="/images/helcross.png").hidden-phone

