#home.feature
  = partial :gallery

- Dir.foreach("./public/content/words/") do |entry|
  - if entry != ".." and entry != "."
    - page = entry.chomp(".md.txt")
    .feature{:id=>page.downcase}
      .blog
        = content :"words/#{page}"

#cross-you.feature


#notifications
  %h1#h1-home Home
  %h1#h1-cross-you +You
  - Dir.foreach("./public/content/words/") do |entry|
    - if entry != ".." and entry != "."
      - page = entry.chomp(".md.txt")
      %h1{:id=>"h1-"+page.downcase}=crossify(page)
