#store-page.container-fluid
  .row-fluid
    .span12
      .hero-unit
        = content "store"







      -# %p
        -# At Hel+, we believe in freedom, transparency and limitations imposed on governments as well as corporations as stipulated by a consitution written and ratified by the people. When such limitations are being violated or do not exist at all, the survival of freedom depends on the existance of protected channels of communication accessible to the people, channels that stay one step ahead of the censorship and servailance techniques of the powers that be. That is why Hel+, in light of recent events both here in the USA and abroad, is supporting the development of <a href="http://torproject.org">Tor</a> with 15% all the proceeds collected in our store. 
