html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

a {
  color: #3366cc;
}
a:hover {
  color: #3366cc;
  text-decoration: none;
}
a:active {
  outline: none;
}

body {
  font-family: Quattrocento Sans;
  font-weight: bolder;
  font-size: 14px;
  background: #ff69b4;
  color: #0d0d0d;
}
body img#helcross {
  width: 120px;
  height: auto;
  z-index: 2;
  position: absolute;
  left: 160px;
  top: 0px;
  cursor: pointer;
}
body #helcross-v-spacer {
  width: 100%;
  height: 51.2px;
}
body .feature-heading {
  font-family: Quattrocento Sans;
  font-weight: bolder;
  position: absolute;
  left: 360px;
  top: 20px;
  font-size: 40px;
  line-height: 80px;
  width: 140px;
}
body h1 {
  font: 24px Loved by the King;
  font-weight: bold;
  font-size: 28px;
  margin-top: 28px;
}
body .blog {
  width: 600px;
  margin: 0 auto;
}
body header {
  position: absolute;
  top: 9px;
  left: 340px;
  height: 35px;
  width: 680px;
}
body header ul {
  display: inline;
}
body header ul li {
  display: inline;
  line-height: 30px;
  padding: 0 20px;
}
body header ul li a {
  font: 24px Loved by the King;
  color: black !important;
  text-decoration: none;
}
body header ul li a:hover {
  text-shadow: white 2px 2px 1px;
}
body #content {
  -moz-border-radius-bottomleft: 14px;
  -webkit-border-bottom-left-radius: 14px;
  -o-border-bottom-left-radius: 14px;
  -ms-border-bottom-left-radius: 14px;
  -khtml-border-bottom-left-radius: 14px;
  border-bottom-left-radius: 14px;
  -moz-border-radius-topright: 14px;
  -webkit-border-top-right-radius: 14px;
  -o-border-top-right-radius: 14px;
  -ms-border-top-right-radius: 14px;
  -khtml-border-top-right-radius: 14px;
  border-top-right-radius: 14px;
  background-color: white;
  z-index: 1;
  position: absolute;
  left: 220px;
  top: 44px;
  width: 800px;
  height: auto;
  line-height: 150%;
}
body #content .feature {
  -moz-border-radius-bottomleft: 14px;
  -webkit-border-bottom-left-radius: 14px;
  -o-border-bottom-left-radius: 14px;
  -ms-border-bottom-left-radius: 14px;
  -khtml-border-bottom-left-radius: 14px;
  border-bottom-left-radius: 14px;
  -moz-border-radius-topright: 14px;
  -webkit-border-top-right-radius: 14px;
  -o-border-top-right-radius: 14px;
  -ms-border-top-right-radius: 14px;
  -khtml-border-top-right-radius: 14px;
  border-top-right-radius: 14px;
  display: none;
}
body #content .feature.showing {
  height: auto;
  display: block;
}
body .gallery .image-container {
  margin: 14px;
  width: 772px;
  height: 472px;
  background-color: gray;
  overflow: hidden;
}
body .gallery .image-container .left-button, body .gallery .image-container .right-button {
  height: 472px;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  width: 60px;
  background-color: rgba(255, 255, 255, 0);
}
body .gallery .image-container .left-button:hover, body .gallery .image-container .right-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
body .gallery .image-container .left-button {
  left: 0px;
}
body .gallery .image-container .right-button {
  right: 0px;
}
body .gallery .image-container .image {
  display: none;
}
body .gallery .image-container .image.showing {
  display: block;
  position: relative;
  text-align: center;
}
body .gallery .image-container .image.showing img {
  height: 472px;
  width: auto;
}
body .gallery .image-container .image.showing .caption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  font: 24px Loved by the King;
  background-color: white;
  margin: 0 auto;
  margin-top: -46px;
  height: 46px;
  line-height: 40px;
  width: 300px;
  padding-top: 0;
  border-top: 0;
  font-weight: bold;
}
body .gallery .blog {
  display: none;
}
body .gallery .blog.showing {
  display: block;
}

#notifications {
  -moz-border-radius-bottomright: 14px;
  -webkit-border-bottom-right-radius: 14px;
  -o-border-bottom-right-radius: 14px;
  -ms-border-bottom-right-radius: 14px;
  -khtml-border-bottom-right-radius: 14px;
  border-bottom-right-radius: 14px;
  -moz-border-radius-topleft: 14px;
  -webkit-border-top-left-radius: 14px;
  -o-border-top-left-radius: 14px;
  -ms-border-top-left-radius: 14px;
  -khtml-border-top-left-radius: 14px;
  border-top-left-radius: 14px;
  position: fixed;
  right: 40px;
  bottom: 20px;
  background-color: black;
  height: 150px;
  width: 150px;
}
#notifications h1 {
  display: none;
  color: white;
  font-size: 50px;
  padding: 0;
  border: 0;
  margin: 0;
  margin-top: 88px;
  margin-left: -2px;
}
#notifications h1.showing {
  display: block;
}

#auth-status {
  margin: 0 !important;
  display: inline !important;
  width: auto !important;
  float: right !important;
  font: 24px Loved by the King;
}

#like-button {
  position: absolute;
  top: 20px;
  right: 40px;
  border: none;
  width: 150px;
  height: auto;
}

.if-logged-in.showing, .if-logged-out.showing {
  display: inline !important;
}

.if-logged-in, .if-logged-out {
  display: none !important;
}

.button:link, .button:visited {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97afe2), color-stop(100%, #6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  -moz-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  font-family: Quattrocento Sans;
  font-weight: bolder;
  text-shadow: 0, 1px, 1px, rgba(255, 255, 255, 0.2);
  background-color: #7a90c0;
  border: none;
  color: #1d222c;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  line-height: 28px;
  padding: 0 25px;
  text-decoration: none;
}
