html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

strong, em, h1, h2, h3, .navbar {
  font-weight: bold;
}

[id$="page"] {
  margin-top: 50px;
}

[class^="container"] > [class^="span"],
[class^="container"] > [class^="row"] > [class^="span"] {
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
}

footer {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 75%;
}

img[src*="/images/helcross"] {
  height: 175px !important;
  width: auto;
}

.thumbnail {
  border: none;
}
.thumbnail img {
  margin-bottom: 1em;
}

#shopping-cart-bar {
  cursor: pointer;
  display: none;
}
#shopping-cart-bar.visible {
  display: block;
}

.tooltip {
  font-size: 1em;
}

ul#shopping-cart-bar {
  float: right;
  padding-top: 9px;
  padding-bottom: 10px;
}
ul#shopping-cart-bar li {
  display: inline;
}

.store-item {
  color: gray;
  width: 260px;
  height: auto;
}
.store-item .img-wrapper {
  height: inherit;
  width: 260px;
}
.store-item .img-wrapper img {
  width: inherit;
  height: inherit;
  margin-bottom: 0.5em;
}
.store-item .on-hover {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 1;
  width: inherit;
  height: 180px;
  background-color: rgba(0, 0, 0, 0);
}
.store-item .on-hover .text-wrapper {
  display: none;
}
.store-item .on-hover.hovering {
  background-color: rgba(0, 0, 0, 0.5);
}
.store-item .on-hover.hovering .text-wrapper {
  text-align: center;
  display: block;
  margin-top: 1em;
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
  color: white;
}

a {
  color: #3366cc;
}
a:hover {
  color: #3366cc;
  text-decoration: none;
}
a:active {
  outline: none;
}

textarea {
  resize: none;
}

input {
  width: auto;
}

form.carefree input, form.carefree textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 24px Loved by the King;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  line-height: 1.5em;
  font-size: 2em;
  font-weight: bold;
  background-color: #ffffcc;
}
form.carefree input[type="submit"], form.carefree .btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
}
form.carefree input {
  height: 1.5em;
}

.hero-unit {
  background-color: #ffffcc;
}

#home-page {
  min-height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#home-page .front-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 250px;
  margin-top: -125px;
  margin-left: -600px;
}
#home-page .front-card > * {
  vertical-align: middle;
  display: inline-block;
}
#home-page .front-card .huge-word {
  font-size: 100px;
  color: gray;
}
#home-page .front-card .huge-symbol {
  font-size: 200px;
  margin-top: -25px;
  color: gray;
}

#home-carousel-placeholer {
  width: 300px;
  height: 250px;
  margin-right: 20px;
}

#home-carousel {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  width: 300px;
  height: 250px;
}
#home-carousel .carousel {
  width: inherit;
  height: inherit;
  background-color: grey;
}
#home-carousel .carousel .carousel-inner {
  overflow: hidden;
  width: inherit;
  height: inherit;
}
#home-carousel .carousel .carousel-inner .item {
  height: inherit;
  width: inherit;
}
#home-carousel .carousel .carousel-inner .item img {
  margin: 0 auto;
  height: inherit;
  width: auto;
}
#home-carousel .carousel .carousel-inner .item .carousel-caption p {
  color: white;
}
#home-carousel .carousel .carousel-caption, #home-carousel .carousel .carousel-control {
  display: none;
}

#home-carousel.expanding {
  position: relative;
}

#home-carousel.expanded {
  position: relative !important;
  margin: 0;
}
#home-carousel.expanded .carousel-caption, #home-carousel.expanded .carousel-control {
  display: block;
}

#forum-page {
  margin-top: 48px;
}

body {
  font-family: Quattrocento Sans;
  background: #ff69b4;
  color: #0d0d0d;
}
body p {
  font-family: Quattrocento Sans;
}
body .brand {
  font: 24px Loved by the King;
  z-index: 2;
}

.navbar .brand {
  font-size: 1.5em;
  padding-bottom: 0px;
}

.button:link, .button:visited {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97afe2), color-stop(100%, #6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  -moz-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  font-family: Quattrocento Sans;
  text-shadow: 0, 1px, 1px, rgba(255, 255, 255, 0.2);
  background-color: #7a90c0;
  border: none;
  color: #1d222c;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  line-height: 28px;
  padding: 0 25px;
  text-decoration: none;
}
