strong, em {
  font-weight: bold;
}

[id$="page"] {
  position: relative;
  z-index: 1;
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
[id$="page"].showing {
  display: block;
}

[class^="container"] > [class^="span"],
[class^="container"] > [class^="row"] > [class^="span"] {
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  background-color: white;
}

footer {
  position: fixed;
  width: 250px;
  right: 20px;
  bottom: 20px;
  z-index: 0;
  margin: 0 auto;
  text-align: center;
}
footer .boo {
  display: none;
}
footer p {
  font-size: 75%;
  line-height: 75%;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  footer {
    position: relative !important;
  }
  footer .boo {
    display: block !important;
  }
}
.thumbnail {
  border: none;
}
.thumbnail img {
  margin-bottom: 1em;
}

#shopping-cart-bar {
  cursor: pointer;
  display: none;
  float: right;
  padding-top: 9px;
  margin-bottom: 0px !important;
  padding-bottom: 5px;
}
#shopping-cart-bar .icon-shopping-cart {
  vertical-align: baseline;
}
#shopping-cart-bar li {
  display: inline;
}
#shopping-cart-bar.visible {
  display: block;
}

.tooltip {
  font-size: 75%;
  line-height: 1em;
}

.store-row {
  margin-top: 3em;
}

.store-item {
  color: gray;
  width: 260px;
  height: auto;
}
.store-item .controls {
  width: 100%;
  margin-left: 0px;
}
.store-item .img-wrapper {
  height: 180px;
  width: 260px;
  overflow: hidden;
}
.store-item .img-wrapper img {
  width: inherit;
  height: auto;
  margin-bottom: 0.5em;
}
.store-item .on-hover {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 1;
  width: inherit;
  height: 180px;
  background-color: rgba(0, 0, 0, 0);
}
.store-item .on-hover .text-wrapper {
  display: none;
}
.store-item .on-hover.hovering {
  background-color: rgba(0, 0, 0, 0.5);
}
.store-item .on-hover.hovering .text-wrapper {
  text-align: center;
  display: block;
  margin-top: 3em;
  line-height: 2em;
  font-weight: bold;
  color: white;
}

a {
  color: #3366cc;
}
a:hover {
  color: #3366cc;
  text-decoration: none;
}
a:active {
  outline: none;
}

textarea {
  resize: none;
}

input {
  width: auto;
}

.form-carefree input, .form-carefree textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 24px Loved by the King;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  line-height: 1.5em;
  font-size: 2em;
  font-weight: bold;
  background-color: #ffffcc;
}
.form-carefree input[type="submit"], .form-carefree .btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 2em;
  font-size: 3em;
  height: 2em;
  font-weight: bold;
}
.form-carefree input {
  height: 1.5em;
}

textarea.form-carefree {
  line-height: 1.5em;
  font-size: 2em;
}

.hero-unit {
  background-color: #ffffcc;
}

#home-page {
  min-height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#home-page .front-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 250px;
  margin-top: -125px;
  margin-left: -50%;
  text-align: center;
}
#home-page .front-card > * {
  vertical-align: middle;
  display: inline-block;
}
#home-page .front-card .huge-word {
  font-size: 6em;
  color: gray;
}
#home-page .front-card .huge-symbol {
  font-size: 8em;
  margin-top: -25px;
  color: gray;
}
#home-page .front-card .ldquo, #home-page .front-card .rdquo {
  font-size: 6em;
  color: gray;
}
#home-page .front-card #home-logo {
  height: 125px;
  width: auto;
}

@media (max-width: 767px) {
  #home-page {
    position: relative !important;
  }
  #home-page .front-card {
    position: relative !important;
  }
}
#home-operand-container {
  height: 275px;
  width: 275px;
  max-height: 275px;
  max-width: 275px;
  overflow: hidden;
  padding: 20px;
}
#home-operand-container .inner {
  position: relative;
  top: -22px;
  left: -22px;
  height: 297px;
  width: 297px;
}
#home-operand-container p {
  text-align: center;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  line-height: 66%;
}

#about-carousel-placeholer {
  width: 400px;
  height: 400px;
  margin-right: 20px;
}

#about-carousel {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  width: 400px;
  height: 400px;
  float: left;
  padding: 20px;
}
#about-carousel .carousel {
  width: inherit;
  height: inherit;
  background-color: grey;
}
#about-carousel .carousel .carousel-inner {
  overflow: hidden;
  width: inherit;
  height: inherit;
}
#about-carousel .carousel .carousel-inner .item {
  height: inherit;
  width: inherit;
}
#about-carousel .carousel .carousel-inner .item img {
  position: relative;
  margin: 0 auto;
  max-height: inherit;
  height: auto;
  width: 100% !important;
}

#forum-page {
  margin-top: 48px;
}

body {
  font-family: Quattrocento Sans;
  color: #0d0d0d;
}
body p {
  font-family: Quattrocento Sans;
}
body .brand {
  font: 24px Loved by the King;
  font-size: 1.2em !important;
  line-height: 1em;
  z-index: 2;
}

.navbar #gplusone {
  margin-top: 8px;
  display: inline-block;
}

.button:link, .button:visited {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97afe2), color-stop(100%, #6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  -moz-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.5);
  font-family: Quattrocento Sans;
  text-shadow: 0, 1px, 1px, rgba(255, 255, 255, 0.2);
  background-color: #7a90c0;
  border: none;
  color: #1d222c;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  line-height: 28px;
  padding: 0 25px;
  text-decoration: none;
}
